nav{
    margin: 2vh 2vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #202B3B;
    height: 92vh;
    border-radius: 10px;
    width: 5vw;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: "Roboto Flex", sans-serif;
    font-size: 0.81rem;
    font-weight: 700;
}
nav .svgt{
    width: 1.5vw;
    margin: auto;
}
@media  screen and (max-width:576px) {
    nav{
        margin: 1vh 2vw 0;
        flex-direction: row;
        height: 5vh;
        width: 95vw;
    }
    nav .svgt{
        width: 3.5vw;
        margin: auto;
    }
}
